<launch>
    <node pkg="isr_m2_ros1_driver" type="keyboard_controller_node.py" name="keyboard_controller_node" output="screen"/>
    <node pkg="keyboard" type="keyboard" name="keyboard_node">
        <param name="allow_repeat" value="false" />
        <param name="repeat_delay" value="SDL_DEFAULT_REPEAT_DELAY" />
        <param name="repeat_interval" value="SDL_DEFAULT_REPEAT_INTERVAL" />
    </node>
    <node pkg="isr_m2_ros1_driver" type="isr_m2_driver_node" name="isr_m2_driver_node" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="115200" />
    </node>
</launch>