<launch>
  <arg name="publish_tf" default="true" />

  <rosparam command="load" file="$(find isr_m4)/config/isr_m4.yaml" />

  <!-- Control the robot wheel. Publish wheel odometry and the corresponding transform -->
  <node pkg="isr_m4_base" type="isr_m4_driver_node" name="isr_m4_driver_node" output="screen">
    <param name="publish_tf" value="$(arg publish_tf)" />

    <remap from="/isr_m4_driver_node/cmd_vel" to="/cmd_vel" />
    <remap from="/isr_m4_driver_node/odom" to="/odom/wheel" />
    <remap from="/isr_m4_driver_node/robot_status" to="/isr_m4/robot_status" />
  </node>
</launch>