<launch>
  <arg name="publish_tf" default="true" />

  <!-- Control the robot wheel. Publish wheel odometry and the corresponding transform -->
  <node pkg="isr_m4_base" type="isr_m4_driver_node" name="isr_m4" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <remap from="/isr_m4/cmd_vel" to="/cmd_vel" />
  </node>
</launch>