<launch>
    <arg name="use_lidar" default="true" />
    <arg name="use_camera" default="true" />
    <arg name="use_imu" default="true" />

    <!-- Realsense D455 Camera -->
    <include if="$(arg use_camera)" file="$(find isr_m4)/launch/include/sensors/_realsense_front.launch" />

    <!-- VLP-16 LiDAR -->
    <include if="$(arg use_lidar)" file="$(find isr_m4)/launch/include/sensors/_velodyne.launch" />

    <!-- Xsens mti-30 IMU -->
    <include if="$(arg use_imu)" file="$(find isr_m4)/launch/include/sensors/_xsens.launch" />

    <!-- Static Transform -->
    <include file="$(find isr_m4)/launch/include/sensors/_static_transforms.launch">
      <arg name="use_lidar" value="$(arg use_lidar)" />
      <arg name="use_camera" value="$(arg use_camera)" />
      <arg name="use_imu" value="$(arg use_imu)" />
    </include>
</launch>