<launch>

  <include file="$(find velodyne_ros_tools)/launch/VLP16_points.launch">
    <arg name="frame_id" value="vlp16_tilted" />
    <arg name="device_ip" value="192.168.1.202" />
    <arg name="port" value="2370" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base2lidar_tilted"
    args="0 0 0 0 0 0 base_link vlp16_tilted" />
</launch>