<launch>
  <arg name="use_joy" default="false" />
  <arg name="use_lidar" default="true" />
  <arg name="use_camera" default="false" />
  <arg name="publish_odom_tf" default="true" />

  <!-- Run ISR-M4 Base using keyboard or joystick -->
  <include file="$(find isr_m4)/launch/run_base.launch">
    <arg name="use_joy" value="$(arg use_joy)" />
    <arg name="publish_odom_tf" value="$(arg publish_odom_tf)" />
  </include>

  <!-- Run Sensors -->
  <include file="$(find isr_m4)/launch/sensor.launch">
    <arg name="use_lidar" value="$(arg use_lidar)" />
    <arg name="use_camera" value="$(arg use_camera)" />
  </include>

</launch>