<launch>
  <arg name="use_joy" default="false" />
  <arg name="publish_odom_tf" default="true" />

  <!-- Run ISR-M4 Base -->
  <include file="$(find isr_m4)/launch/include/robot/m4_driver.launch.xml">
    <arg name="publish_tf" value="$(arg publish_odom_tf)" />
  </include>

  <!-- Controller: Keyboard or Joystick -->
  <include if="$(arg use_joy)" file="$(find isr_m4)/launch/include/robot/joy.launch.xml" />
  <include unless="$(arg use_joy)" file="$(find isr_m4)/launch/include/robot/keyboard.launch.xml" />

</launch>