<launch>
    <arg name="use_lidar" default="true" />
    <arg name="use_camera" default="false" />

    <!-- Realsense Camera -->
    <include if="$(arg use_camera)" file="$(find isr_m4)/launch/include/_realsense_front.launch" />

    <!-- VLP 16 LiDAR -->
    <include if="$(arg use_lidar)" file="$(find isr_m4)/launch/include/_vlp16_horizontal.launch" />

    <!-- <include if="$(arg use_lidar)" file="$(find isr_m4)/launch/include/_vlp16_tilted.launch" /> -->

</launch>