<launch>
    <arg name="use_lidar" default="true" />
    <arg name="use_camera" default="false" />

    <!-- VLP 16 LiDAR -->
    <include if="$(arg use_lidar)" file="$(find isr_m3_bringup)/launch/include/_vlp16_horizontal.launch" />

    <!-- Realsense Camera -->
    <include if="$(arg use_camera)" file="$(find realsense_ros_tools)/launch/rs_camera.launch" />

</launch>