<launch>
  <arg name="use_lidar" default="true" />
  <arg name="use_camera" default="true" />

  <include file="$(find isr_m4)/launch/sensor.launch">
    <arg name="use_lidar" value="$(arg use_lidar)" />
    <arg name="use_camera" value="$(arg use_camera)" />
  </include>

  <!-- Rviz -->
  <node name="rviz_isr_m4" pkg="rviz" type="rviz" args="-d $(find isr_m4)/launch/rviz/isr_m4.rviz" />
</launch>