<launch>
  <arg name="project_name" default="" />
  <arg name="bag_file" default="isr_m4_dataset.bag" />
  <arg name="playback_speed" default="1" />
  <arg name="start_time" default="0.0" />
  

  <!-- Camera: Raw Image republish && Publish pointcloud -->
  <include file="$(find realsense_ros_tools)/launch/include/_rs_reproduce.launch">
    <arg name="enable_pointcloud" value="true" />
  </include>

  <!-- LiDAR: vlp16 horizontal packet to pointcloud -->
  <include file="$(find velodyne_ros_tools)/launch/include/_VLP16_packet2cloud.launch">
    <arg name="frame_id" value="velodyne" />
    <arg name="target_frame" value="" />
    <arg name="min_range" value="0.4" />
    <arg name="max_range" value="130.0" />
  </include>

  <!-- Static Transforms -->
  <include file="$(find isr_m4)/launch/include/sensors/_static_transforms.launch">
    <arg name="use_lidar" value="true" />
    <arg name="use_camera" value="true" />
    <arg name="use_imu" value="true" />
  </include>

  <!-- Play rosbag -->
  <param name="/use_sim_time" value="true" />
  <node name="isr_m4_bag_player" pkg="rosbag" type="play" output="screen"
    args="--clock -r $(arg playback_speed) -s $(arg start_time) $(env HOME)/Downloads/$(arg project_name)/$(arg bag_file)" />

</launch>