<launch>
  <arg name="project_name" default="isr_m4/test" />
  <arg name="enable_imu" default="false" />   <!-- Data recording option -->

  <!-- 1. Camera at front -->
  <include file="$(find zed2_ros_tools)/launch/zed2_record.launch">
    <arg name="camera_ns" value="camera_front" />
    <arg name="project_dir" value="$(arg project_name)" />
    <arg name="bag_file" value="camera_front.bag" />
    <arg name="enable_imu" value="$(arg enable_imu)" />
  </include>

  <!-- 2. Camera at left -->
  <include file="$(find realsense_ros_tools)/launch/rs_record.launch">
    <arg name="camera_ns" value="camera_left" />
    <arg name="project_dir" value="$(arg project_name)" />
    <arg name="bagfile_name" value="camera_left.bag" />
    <arg name="enable_imu" value="$(arg enable_imu)" />
  </include>

  <!-- 3. Camera at right -->
  <include file="$(find realsense_ros_tools)/launch/rs_record.launch">
    <arg name="camera_ns" value="camera_right" />
    <arg name="project_dir" value="$(arg project_name)" />
    <arg name="bagfile_name" value="camera_right.bag" />
    <arg name="enable_imu" value="$(arg enable_imu)" />
  </include>

  <!-- 4. Record VLP16 bagfile -->
  <include file="$(find velodyne_ros_tools)/launch/VLP16_record.launch">
    <arg name="frame_id" value="velodyne" />
    <arg name="project_dir" value="$(arg project_name)" />
    <arg name="bag_file" value="velodyne_lidar.bag" />
  </include>

  <!-- Record Wheel odometry and IMU -->
  <node name="isr_m4_recorder" pkg="isr_m4_tools" type="record_isr_robot.sh" output="screen"
    args="$(arg project_name)" />

</launch>