<launch>
  <arg name="use_camera" default="false" />

  <include file="$(find isr_m3_bringup)/launch/include/_m3_driver.launch" />

  <include file="$(find isr_m3_bringup)/launch/include/_keyboard.launch" />

  <include file="$(find isr_m3_bringup)/launch/include/_sensor.launch" >
    <arg name="use_camera" value="$(arg use_camera)" /> 
  </include>

</launch>